# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Azure
.azure/
backend/static/

# Azure deployment logs
applogs*/
applogs*.zip

# Env
.env
.env.local
